
<div class="container panel panel-primary">

	<div class="panel-body">

		<div class="row">
			<div class="col-md-2">Filter By:</div>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="filterProduct" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Filtered By :{{filterProduct}}</h3>
			</div>

		</div>

		<div class="table-responsive" *ngIf="products && products.length">
			<table class="table">
				<thead>
					<tr>
						<th>
							<!-- Event Binding () -->
							<button type="button" class="btn btn-success"
								(click)="toggleImage()">{{showImage?"Hide Image":"Show
								Image"}}</button>
						</th>
						<th>Product Name</th>
						<th>Code</th>
						<th>Release Date</th>
						<th>Price</th>
						<th>Star Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products|productFilter:filterProduct">
						<!-- property binding for src attribute []-->
						<td><img [src]="product.imageUrl" *ngIf="showImage"
							[style.width.px]="imageWidth" /></td>
						<td><a [routerLink]= "['/products',product.productId]" [queryParams]= "{name:product.productName, img:product.imageUrl,desc:product.description}">{{product.productName| productUpper}}</a></td>
						<!-- All Data bindings below -->
						<td>{{product.productCode}}</td>
						<td>{{product.releaseDate}}</td>
						<td [ngStyle] ="{'color':product.price > 20 ?'green':'red'} ">{{product.price| currency: 'INR'}}</td>
						<td><app-star [rating]="product.starRating"
								(ratingClicked)="onRatingClicked($event)"></app-star></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


